#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerRecords {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.player {
    display: flex;
    flex-direction: column;
}

#gameboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    width: 800px;
    height: 650px;
}

.boardSpots {
    display: flex;
    align-items: center;
    font-size: 140px;
    justify-content: center;
    color: yellow;
    background-color: black;
    border: solid white;
    box-sizing: border-box;
}
